.musicBar {
    display           : flex;
    position          : relative;
    height            : 70px;
    overflow          : hidden;
    justify-content   : space-between;
    // position       : relative;

    .info {
        // flex       : 1;
        display    : flex;
        align-items: center;
        margin-left: 10px;

        .img {
            width        : 45px;
            height       : 45px;
            margin-right : 10px;
            border-radius: 3px;
            overflow     : hidden;
            position     : relative;

            &:hover .btn {
                opacity: 1;
            }

            &:hover .icon {
                filter: blur(2px);
            }

            .btn {
                position        : absolute;
                top             : -4px;
                width           : 45px;
                height          : 45px;
                border-radius   : 3px;
                opacity         : 0;
                background-color: rgba(0, 0, 0, 0.5);
                margin-right    : 0;

                .leftBtn,
                .rightBtn {
                    z-index  : 3;
                    font-size: 20px;
                    color    : #fff;
                    position : absolute;
                }

                .leftBtn {
                    bottom: 0;
                }

                .rightBtn {
                    right: 0;
                }

            }

            .icon {
                background-color: #666;
                width           : 45px;
                height          : 45px;
                position        : relative;
            }
        }


        .rows {
            color: #666;

            .title {
                margin-top       : 2px;
                // vertical-align: middle;
                display          : block;
                max-width        : 200px;
                white-space      : nowrap;
                overflow         : hidden;
                text-overflow    : ellipsis;
                font-size        : 14px;
                color            : black;
            }

            .artist {
                display      : block;
                max-width    : 200px;
                font-size    : 14px;
                white-space  : nowrap;
                overflow     : hidden;
                text-overflow: ellipsis;
            }
        }
    }

    .controller {
        // flex: 1;
        position : absolute;
        left     : 50%;
        transform: translateX(-50%);

        .button {
            position      : relative;
            top           : 10px;
            height        : 50%;
            text-align    : center;
            box-sizing    : border-box;
            padding-bottom: 10px;

            .btn {
                display: inline-block;
                margin : 0 1vw;
                width  : 15px;
                height : 15px;

                &:hover {
                    color: rgb(236, 65, 65);
                }
            }

            .play {
                box-sizing      : border-box;
                width           : 30px;
                height          : 30px;
                background-color: rgb(235, 235, 237);
                border-radius   : 50%;
                padding-top     : 5px;

                &:hover {
                    color           : black;
                    background-color: rgb(221, 221, 222);
                }
            }

            .favorite {
                padding-top   : 8px;
                vertical-align: top;
            }
        }

        .processBox {
            display    : flex;
            position   : relative;
            align-items: center;
            transform  : translateY(-5px);

            .process {
                display: inline-block;
                width  : 30vw;
            }

            span {
                color    : rgb(194, 194, 196);
                font-size: 12px;
            }

            .playedTime {
                margin-right: 15px;
            }

            .duration {
                margin-left: 15px;
            }

        }
    }

    .btn {
        position    : relative;
        margin-top  : 4px;
        margin-right: 10px;

        .sound {
            display    : inline-block;
            height     : 66px;
            line-height: 66px;

            .soundIcon {
                display     : inline-block;
                // position : relative;
                font-size   : 25px;
                width       : 25px;
                height      : 25px;
            }

            .soundSlider {
                position: relative;
                top     : 9px;
                display : inline-block;
                width   : 70px;
                margin  : 0 20px 0 10px;
            }
        }

        .list {
            font-size: 25px;
        }
    }

    .audio {
        position  : absolute;
        visibility: hidden;
    }

}

.playList {
    float                 : right;
    position              : absolute;
    z-index               : 888;
    bottom                : 71px;
    right                 : 0;
    height                : 500px;
    width                 : 420px;
    // border          : 1px solid #666;
    border-top-left-radius: 5px;
    background-color      : rgb(255, 255, 255);
    box-shadow            : -1px -1px 5px #666;
    font-size             : 14px;

    .title {
        display         : block;
        width           : 130px;
        height          : 24px;
        text-align      : center;
        margin-left     : 50%;
        margin-top      : 20px;
        transform       : translateX(-50%);
        line-height     : 24px;
        font-size       : 12px;
        color           : #fff;
        background-color: rgb(187, 187, 187);
        border          : 1px solid rgb(187, 187, 187);
        border-radius   : 12px;
    }

    .row {
        margin        : 20px 15px 0 15px;
        padding-bottom: 10px;
        border-bottom : 1px solid rgb(187, 187, 187);

        .count {
            font-size: 12px;
            color    : rgb(187, 187, 187);
        }

        .button {
            float: right;
            color: rgb(104, 104, 104);

            i {
                position : relative;
                top      : 2px;
                font-size: 18px;
            }

            span {
                margin-left: 5px;
                font-size  : 14px;
            }
        }
    }

    .table {
        .play {
            position : relative;
            left     : 5px;
            font-size: 12px;
            color    : rgb(236, 65, 65);
        }

        .text {
            white-space  : nowrap;
            overflow     : hidden;
            text-overflow: ellipsis;
        }
    }
}

.playFrame {
    position        : absolute;
    top             : 58px;
    bottom          : 70px;
    width           : 100%;
    background-color: #fff;
    overflow        : auto;
    z-index         : 777;
    overflow        : hidden;


    .box {
        display   : flex;
        width     : 100%;
        height    : 100%;
        min-width : 1396px;
        min-height: 557px;

        .left {
            width          : 50%;
            display        : flex;
            justify-content: center;
            align-items    : center;

            .backImg {
                // margin-left        : 20px;
                width              : 410px;
                height             : 410px;
                background-image   : url('../../assets/coverall.png');
                background-position: -285px -1161px;
                background-size    : 760px;
                display            : flex;
                justify-content    : center;
                align-items        : center;

                .cover {
                    background-color: black;
                    width           : 263px;
                    height          : 263px;
                    margin-left     : -8px;
                    margin-top      : -2px;
                    border-radius   : 50%;
                }
            }

            [playing=true] {
                animation-name           : roll;
                animation-duration       : 15s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
            }

            [pause=true] {
                animation-play-state: paused;
            }
        }

        .right {
            padding-left: 50px;
            padding-top : 30px;

            .title {
                font-weight  : 400;
                font-size    : 28px;
                margin-bottom: 16px;
            }

            .info {
                color: rgb(102, 102, 102);

                .album {
                    display      : inline-block;
                    width        : 200px;
                    white-space  : nowrap;
                    overflow     : hidden;
                    text-overflow: ellipsis;
                }

                .artist {
                    display      : inline-block;
                    width        : 200px;
                    margin-left  : 20px;
                    white-space  : nowrap;
                    overflow     : hidden;
                    text-overflow: ellipsis;
                }
            }

            .lyric {
                width        : 100%;
                height       : 350px;
                margin-top   : 40px;
                margin-bottom: 20px;
                overflow     : hidden;

                .scrollBar {
                    border-right: 1px solid rgb(233, 233, 235);

                    .word {
                        display    : block;
                        width      : 100%;
                        height     : 40px;
                        line-height: 40px;
                        font-size  : 14px;
                        color      : rgb(112, 112, 112);
                        text-align : left;
                    }
                }

                .no {
                    display   : block;
                    height    : 100%;
                    text-align: center;
                    margin-top: 20%;
                }
            }
        }
    }

}

.v-enter-from,
.v-leave-to {
    transform: translate(-50%, 60%) scale(0.01);
    opacity  : 0;
}

.v-enter-to,
.v-leave-from {
    transform: translate(0, 0) scale(1);
    opacity  : 1;
}

.v-enter-active,
.v-leave-active {
    transition: all .2s ease;
}