.musicBar {
  display: flex;
  position: relative;
  height: 70px;
  overflow: hidden;
  justify-content: space-between;
}
.musicBar .info {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.musicBar .info .icon {
  background-color: #666;
  width: 45px;
  height: 45px;
  margin-right: 10px;
  border-radius: 3px;
}
.musicBar .info .rows {
  color: #666;
}
.musicBar .info .rows .title {
  margin-top: 2px;
  display: block;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  color: black;
}
.musicBar .info .rows .artist {
  display: block;
  max-width: 200px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.musicBar .controller {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.musicBar .controller .button {
  position: relative;
  top: 10px;
  height: 50%;
  text-align: center;
  box-sizing: border-box;
  padding-bottom: 10px;
}
.musicBar .controller .button .btn {
  display: inline-block;
  margin: 0 1vw;
  width: 15px;
  height: 15px;
}
.musicBar .controller .button .btn:hover {
  color: #ec4141;
}
.musicBar .controller .button .play {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  background-color: #ebebed;
  border-radius: 50%;
  padding-top: 5px;
}
.musicBar .controller .button .play:hover {
  color: black;
  background-color: #ddddde;
}
.musicBar .controller .button .favorite {
  padding-top: 8px;
  vertical-align: top;
}
.musicBar .controller .processBox {
  display: flex;
  position: relative;
  align-items: center;
  transform: translateY(-5px);
}
.musicBar .controller .processBox .process {
  display: inline-block;
  width: 30vw;
}
.musicBar .controller .processBox span {
  color: #c2c2c4;
  font-size: 12px;
}
.musicBar .controller .processBox .playedTime {
  margin-right: 15px;
}
.musicBar .controller .processBox .duration {
  margin-left: 15px;
}
.musicBar .btn {
  position: relative;
  margin-top: 4px;
  margin-right: 10px;
}
.musicBar .btn .sound {
  display: inline-block;
  height: 66px;
  line-height: 66px;
}
.musicBar .btn .sound .soundIcon {
  display: inline-block;
  font-size: 25px;
  width: 25px;
  height: 25px;
}
.musicBar .btn .sound .soundSlider {
  position: relative;
  top: 9px;
  display: inline-block;
  width: 70px;
  margin: 0 20px 0 10px;
}
.musicBar .btn .list {
  font-size: 25px;
}
.musicBar .audio {
  position: absolute;
  visibility: hidden;
}
.playList {
  float: right;
  position: absolute;
  z-index: 99;
  bottom: 71px;
  right: 0;
  height: 500px;
  width: 420px;
  border-top-left-radius: 5px;
  background-color: #ffffff;
  box-shadow: -1px -1px 5px #666;
  font-size: 14px;
}
.playList .title {
  display: block;
  width: 130px;
  height: 24px;
  text-align: center;
  margin-left: 50%;
  margin-top: 20px;
  transform: translateX(-50%);
  line-height: 24px;
  font-size: 12px;
  color: #fff;
  background-color: #bbbbbb;
  border: 1px solid #bbbbbb;
  border-radius: 12px;
}
.playList .row {
  margin: 20px 15px 0 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #bbbbbb;
}
.playList .row .count {
  font-size: 12px;
  color: #bbbbbb;
}
.playList .row .button {
  float: right;
  color: #686868;
}
.playList .row .button i {
  position: relative;
  top: 2px;
  font-size: 18px;
}
.playList .row .button span {
  margin-left: 5px;
  font-size: 14px;
}
.playList .table .play {
  position: relative;
  left: 5px;
  font-size: 12px;
  color: #ec4141;
}
.playList .table .text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
