/* 本文件用于修改 element-ui 组件编译后的样式 */

html,
body {
  margin       : 0 auto;
  padding      : 0;
  /* min-width : 1390px; */
  /* min-height: 685px; */
}

.el-tabs__item {
  padding-left: 30px !important;
  color       : black !important;
}

.el-tabs__header {
  margin: 0 !important;
}

.is-active {
  font-weight: 600 !important;
}

.el-tabs__active-bar {
  background-color: transparent !important;
}

.number,
.btn-prev,
.btn-next {
  background-color: transparent !important;
  border          : 1px solid rgb(230, 230, 230) !important;
  border-radius   : 4px !important;
  font-weight     : 400 !important;
}

li.active {
  background-color: rgb(236, 65, 65) !important;
  color           : rgb(230, 230, 230) !important;
}

.el-tree-node__content>.el-tree-node__expand-icon {
  position: absolute;
  left    : 70px;
  top     : 23%;
}

.el-tree-node__content {
  position    : relative;
  height      : 40px !important;
  font-size   : 14px;
  color       : rgb(167, 165, 165);
  padding-left: 0px !important;
}

.el-carousel__button {
  width        : 10px;
  height       : 10px;
  border-radius: 50%;
}

.is-active .el-carousel__button {
  background-color: rgb(236, 65, 65) !important;
}

.el-slider__runway {
  background-color: rgb(194, 194, 196);
}

.el-slider__button {
  /* visibility: hidden; */
  width : 10px;
  height: 10px;
  border-color: rgb(236, 65, 65);
}

.el-slider__bar {
  background-color: rgb(236, 65, 65);
}